<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BoardSize" value="4" />
    <add key="MaxGameBoardIntLength" value="4" />
    <add key="StartingValuesCount" value="5" />
  </appSettings>
</configuration>